body {
    background-color: #DEBDBB;
    color: #2B465E;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #C47F7B;
    color: #BACDDE;
    cursor: pointer;
}

table {
    margin: auto;
    width: 800px;
    text-align: center;
}

label, select, input, button {
    width: 25%;
}

.return-container .form-container .main-container{
    display: flex;
    align-items: center;
}

 input, .button {
     width: 100%;
     padding: 8px;
     margin-bottom: 10px;
     border: 1px solid #DEBDBB;
     border-radius: 5px;
 }

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2B465E;
    cursor: pointer;
}

button:hover {
    background-color: #8F4A46;
}

